.overview-alerts-card {
  &-badge {
    display: inline-flex;
    align-items: center;
    padding-right: var(--cds-spacing-04);
  }

  &-badge-with-border--right {
    border-right: 1px solid var(--cds-border-subtle);
    margin-right: var(--cds-spacing-04);
  }

  &-badge-with-border--bottom {
    border-bottom: 1px solid var(--cds-border-subtle);
    padding: var(--cds-spacing-03) 0;
  }

  &-need-attention {
    display: block;
    margin-top: var(--cds-spacing-02);
    color: var(--cds-text-secondary);
  }

  // Override to make alert card take full available height.
  // Carbon tiles set a min height of 4 rem which was causing alerts card not to stretch with its sibling card.
  .cds--tile {
    min-block-size: 0;
    height: 100%;
  }

  &-badge cd-icon svg {
    display: block;
  }
}
