.auth-radio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text-helper {
  color: var(--cds-text-helper);
}

.step-3-heading {
  display: flex;
  justify-content: space-between;
}

.step-3-form-item {
  max-inline-size: 30rem;
}
